* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #10cab7;
    --second-color: #2D4655;
    --h2-color: #EAECED;
    --h2-font-size: 7rem;
    --section-background: #F6F6F6;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90vw;
    max-width: 1140px;
    padding: 0 1em;
    margin: 0 auto;
}

/* Start General Rules In All Sections  */
.section h2 {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-size: var(--h2-font-size);
    color: var(--h2-color);
    letter-spacing: -5px;
    text-align: center;
}

.section .quote {
    color: #777;
    text-align: center;
    margin: -2rem 0 0 0;
}

.section .quote::first-letter {
    text-transform: capitalize;
}

/* End General Rules In All Sections  */

.goto-top {
    position: fixed;
    width: 4rem;
    height: 4rem;
    background-color: var(--second-color);
    border-radius: 50%;
    bottom: 4rem;
    right: 4rem;
    border: 2px solid #fffefe;
    animation-name: top-and-down;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    z-index: 10;
}

.goto-top a {
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes top-and-down {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Start Header Part */
header {
    height: 4rem;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
}

header nav img {
    height: 2rem;
    margin-top: 1rem;
}

.links  {
    position: relative;
}

.links-icon {
    width: 2.2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links-icon > div {
    width: 100%;
    height: 2px;
    background-color: #333;
}

.links-icon div:nth-child(2) {
    width: 70%;
    align-self: flex-end;
    transition: .3s ease all;
}

.links:hover div:nth-child(2) {
    width: 100%;
}

header ul {
    list-style: none;
    background-color: #F6F6F6;
    padding: 0;
    width: 12rem;
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
    transition: 0s ease all;
}

.links:hover > ul {
    display: block;
}

header ul::before {
    content: '';
    position: absolute;
    border: 1rem solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -2rem;
    right: 0;
}

header ul li {
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    transition: .3s ease padding-left;
}

header ul li:hover {
    padding-left: 1.5rem;
}

header ul li:not(:last-child) {
    position: relative;
}

header ul li:not(:last-child)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    bottom: 0px;
    left: 0;
}

header ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
}

/* End Header Part */

/* Start Landing Part */

.landing {
    height: calc(100vh - 4rem);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(17, 202, 183, 0.2)), url(./../images/landing.jpeg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container {
    width: 22rem;
    text-align: center;
}

.landing h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--main-color)
}

.landing p {
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 400;
}

/* End Landing Part */

/* Start Benefits Part  */

.section {
    padding: 4rem 0;
}

.benefits {
    background-color: #F6F6F6;
}

.benefits .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1rem;
}

.benefits .card {
    text-align: center;
    padding: 1em;
}

i {
    color: var(--main-color);
}

.benefits h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 800;
}

.benefits p {
    color: #777;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-top: 2rem;
}

/* End Benefits Part  */

/* Start Services Part  */

.services .content {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4rem
}

.services .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
}

.service {
    display: flex;
    gap: 2rem;
    color: #333;
    line-height: 1.7;
}

.service h3 {
    margin-top: 0;
}

.services .img-service {
    height: 20rem;
    position: relative;
}

.services .img-service::before {
    content: '';
    width: 6rem;
    height: 28rem;
    position: absolute;
    background-color: #2D4655;
    top: -4rem;
    right: -3rem;
    z-index: -1;
}

.services .img-service img {
    height: 100%;
}

@media (max-width: 1199px) {
    .service .content {
        padding: 4rem 1rem;
    }
    .services .img-service {
        display: none;
    }
}

@media (max-width: 860px) {
    .services .content {
        gap: 0rem
    }
    .services .content .services-list{
        grid-template-columns: 80vw;
        justify-content: center;
        gap: 3rem;
    }

    .services .service {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}

/* End Services Part  */

/* Start Portfolio Part */

.portfolio {
    background-color: #f6f6f6;
}

.projects {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    line-height: 2;
}

.project {
    padding: 0;
    background-color: #fff;
}

.project .image-holder {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

.project img {
    width: 100%;
    transition: .3s ease all;
}

.project .project-info {
    padding: 1rem;
    height: 45%;
}

.project h3 {
    color: #111;
    transition: .5s ease all;
}

.project p {
    color: #777;
    margin-bottom: 0;
}

.project:hover img {
    transform: scale(1.2) rotate(3deg);
    opacity: .5;
}

.project:hover h3 {
    color: var(--main-color);
}

/* End Portfolio Part */

/* Start About Part */

.about .content {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    margin-top: 4rem;
}

.about .image-holder {
    width: 15rem;
    height: 360px;
    position: relative;
}

.about .image-holder::before {
    content: '';
    width: 6rem;
    height: 120%;
    background-color: #EAECED;
    position: absolute;
    left: -1rem;
    top: -10%;
    z-index: -1;
}

.about .image-holder::after {
    content: '';
    width: 8rem;
    height: 75%;
    position: absolute;
    right: calc(-8rem - 5rem / 3);
    top: -10%;
    border-left: 5rem solid var(--main-color);
    border-bottom: 5rem solid var(--main-color);
    z-index: -1;
}

.about .image-holder img {
    width: 100%;
}

.about .content .desc {
    width: calc(100% - 30rem);
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 992px) {
    .about .content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .about .content .image-holder::after,
    .about .content .image-holder::before {
        display: none;
    }

    .about .content .desc {
        padding: 0;
        margin-top: 2rem;
        width: 70vw;
    }

    .about hr {
        align-self: center;
        margin: 1rem 0;
    }
}

.about .content .desc p:first-child {
    font-weight: bold;
}

.about hr {
    width: 60%;
    border-bottom: 1px solid var(--main-color);
}

.about .content .desc p:last-child {
    color: #777;
}

/* End About Part */

/* Start Contact Part */

.contact {
    background-color: #f7f7f7;
}

.contact .content {
    padding: 4rem 0;
    text-align: center;
}

.contact .content .contact-message {
    font-size: 2rem;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
}

.contact .content a {
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color)
}

.contact i {
    color: var(--second-color)
}

/* End Contact Part */

/* Start Footer Part */

footer {
    background-color: var(--second-color);
    padding: 2rem 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

footer a,
footer span {
    color: var(--main-color);
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

/* End Footer Part */

@media (max-width: 786px) {

    :root {
        --h2-font-size: 5rem;
    }

    .section h2 {
        text-align: center;
    }

    .section .quote {
        color: #777;
        text-align: center;
        margin: -1.5rem 0 0 0;
    }

    .container {
        width: 100vw;
        margin: 0;
        padding: 0 2vw;
    }

    .projects {
        padding: 1rem;
    }

}

